.statuscard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    padding: 5% 0% 7% 0%;
    border: 3px solid aliceblue;
    margin-top: 20%;
}